@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Rethink Sans', sans-serif;
  line-height: 1.5;
  font-weight: 100;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --clr-bg-dark: #0C0C0C;
  --clr-bg-light: #E6E6E6;
  --clr-text-dark: #1C1C1C; 
  --clr-text-light: #F2F2F2;}

.darkMode {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
}

.lightMode {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-dark);
}

.image-container::-webkit-scrollbar {
  display: none;
}